<h1>Tasks</h1>
<div>
	<% @tasks.each do |task| %>
		<%= task.done? %>
		<%= task.description %><br/>
	<% end %>
</div>
<div>
	<%= link_to('+', new_task_url) %>
	<%= link_to('active', active_tasks_url) %>
	<%= link_to('completed', completed_tasks_url) %>
	
</div>